* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #141418 0%, #26262c 100%);
  color: white;
  padding: 2em;
}

h1 {
  font-size: 2.5em;
  margin: 1rem 0;
}

h1 > span {
  color: #b084ff;
}

.subtitulo {
  color: #aaa9a9;
}

.box-entrada {
  width: 600px;
  background: #0e0e11;
  color: white;
  padding: 1.2em;
  margin: 1.2em auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.box-entrada textarea {
  width: 80%;
  background: transparent;
  color: white;
  border: none;
  resize: none;
  outline: none;
  cursor: pointer;
}

.box-entrada button {
  width: 20%;
  background-color: #7c3aed;
  color: white;
  font-weight: 600;
  padding: 0.7em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.box-resultado {
  width: 1400px;
  background: #26262c;
  display: flex;
  gap: 1.5em;
  padding: 1.5em;
  margin: 2em;
  border: 1px solid #7c3aedab;
  border-radius: 15px;
}

.box-resultado .bloco-codigo {
  width: 30%;
  height: 550px;
  background: #0c0c0f;
  color: rgba(255, 255, 255, 0.603);
  font-size: 0.9em;
  padding: 1em;
  border: 1px solid #CFCFCF;
  border-radius: 12px;
  overflow: auto;
  white-space: pre-wrap;
}

.box-resultado .bloco-site {
  width: 70%;
  height: 550px;
  background: #1f1d1da4;
  border: 1px solid #27c93f;
  border-radius: 12px;
}